---
const logoPath =
  "/public/logo/LAVAMIX MALLORCA - CARTELERÍA Gral DEF-imágenes-14-min-Photoroom.png";
---

<style>
  .bubble {
    position: absolute;
    background: radial-gradient(
      circle at 30% 30%,
      #1cdac5,
      rgba(0, 255, 255, 0.1)
    );
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    animation: float 4s ease-out forwards;
  }

  @keyframes float {
    0% {
      transform: scale(0) translate(0, 0);
      opacity: 0;
    }
    25% {
      opacity: 0.8;
    }
    100% {
      transform: scale(1) translate(var(--tx), var(--ty));
      opacity: 0;
    }
  }

  /* Generate different sizes and random positions for bubbles */
  .bubble {
    animation: float 4s ease-out forwards;
  }

  /* Ajustar posiciones y tamaños de las burbujas */
  .bubble-1 {
    --tx: -50px;
    --ty: -50px;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }
  .bubble-2 {
    --tx: 50px;
    --ty: -50px;
    width: 15px;
    height: 15px;
    animation-delay: 0.2s;
  }
  .bubble-3 {
    --tx: -70px;
    --ty: 50px;
    width: 25px;
    height: 25px;
    animation-delay: 0.4s;
  }
  .bubble-4 {
    --tx: 70px;
    --ty: 70px;
    width: 18px;
    height: 18px;
    animation-delay: 0.6s;
  }
  .bubble-5 {
    --tx: -90px;
    --ty: 0px;
    width: 22px;
    height: 22px;
    animation-delay: 0.8s;
  }
  .bubble-6 {
    --tx: 90px;
    --ty: 0px;
    width: 16px;
    height: 16px;
    animation-delay: 1s;
  }
  .bubble-7 {
    --tx: 0px;
    --ty: -90px;
    width: 23px;
    height: 23px;
    animation-delay: 1.2s;
  }
  .bubble-8 {
    --tx: 0px;
    --ty: 90px;
    width: 19px;
    height: 19px;
    animation-delay: 1.4s;
  }
  .bubble-9 {
    --tx: -40px;
    --ty: -60px;
    width: 21px;
    height: 21px;
    animation-delay: 1.6s;
  }
  .bubble-10 {
    --tx: 40px;
    --ty: -60px;
    width: 17px;
    height: 17px;
    animation-delay: 1.8s;
  }
  .bubble-11 {
    --tx: -60px;
    --ty: 60px;
    width: 24px;
    height: 24px;
    animation-delay: 2s;
  }
  .bubble-12 {
    --tx: 60px;
    --ty: 60px;
    width: 16px;
    height: 16px;
    animation-delay: 2.2s;
  }
  .bubble-13 {
    --tx: -80px;
    --ty: -20px;
    width: 20px;
    height: 20px;
    animation-delay: 2.4s;
  }
  .bubble-14 {
    --tx: 80px;
    --ty: -20px;
    width: 18px;
    height: 18px;
    animation-delay: 2.6s;
  }
  .bubble-15 {
    --tx: 0px;
    --ty: -100px;
    width: 22px;
    height: 22px;
    animation-delay: 2.8s;
  }
</style>

<div class="logo-container absolute top-0 left-0 p-3">
  <!-- Logo -->
  <img src={logoPath} alt="LavaMix Mallorca Logo" class="z-10 w-16 h-16" />
  <!-- Bubbles -->
  <div id="bubbles" class="absolute inset-0 p-7">
    {
      Array.from({ length: 15 }).map((_, i) => (
        <div class={`bubble bubble-${i + 1}`} />
      ))
    }
  </div>
</div>
