---
interface Props {
  number: string | number;
}

const { number } = Astro.props;
---

<div class="flex justify-center">
  <div class="bg-[#1CDAC5] rounded-lg shadow-lg p-4 w-96 text-gray-700">
    <div class="bg-white rounded-md p-6">
      <div class="flex items-center justify-between gap-8">
        <div>
          <slot />
          <!-- Contenido dinámico pasado desde fuera -->
        </div>
        <!-- Número dinámico -->
        <div class="text-5xl font-bold text-gray-600">{number}.</div>
      </div>
    </div>
  </div>
</div>
