---
//driyin program
---

<div class="flex justify-center">
  <div
    class="bg-[#1CDAC5] rounded-full shadow-lg p-6 w-96 flex items-center justify-center"
  >
    <div class="bg-white rounded-full p-6">
      <div class="p-2">
        <slot />
      </div>
    </div>
  </div>
</div>
